@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Red-400: hsl(0, 100%, 68%);
  --Blue-950: hsl(230, 29%, 20%);
  --Blue-100: hsl(207, 33%, 95%);
  --gray-100: hsl(255, 3%, 77%);
  --gray-200: hsl(248, 4%, 60%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: var(--White);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 100px;
  padding: 30px 20px;
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav .header__logo {
  width: 20px;
  height: 20px;
}

.header__nav .header__hamburger {
  width: 20px;
  height: 15px;
}

.hero {
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;
}

.hero__image-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.hero__image {
  width: 420px;
  position: absolute;
  right: -100px;
}

.decorative {
  width: 50%;
  height: 330px;
  background-color: var(--Blue-100);
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  border-radius: 0px 0px 0px 50px;
}

.hero__content {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 20px;
}

.hero__dashboard {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--gray-100);
  letter-spacing: 3px;
}

.hero__dashboard span {
  display: inline-block;
  background-color: var(--Blue-950);
  color: var(--White);
  width: 50px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}

.hero__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--Blue-950);
  font-family: "Barlow Condensed", sans-serif;
}

.hero__text {
  color: var(--gray-200);
  font-weight: 500;
  font-size: 0.9rem;
}

.hero__button-container {
  display: flex;
  gap: 20px;
}

.hero__button {
  background-color: var(--Red-400);
  color: var(--White);
  border: none;
  cursor: pointer;
  text-align: center;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
}

.hero__button-text {
  width: 140px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--gray-100);
  letter-spacing: 3px;
  line-height: 45px;
}

.hide {
  display: none;
}

@media (min-width: 426px) {
  .hero__image {
    width: 500px;
  }
}

@media (min-width: 700px) {
  .header__nav .header__logo {
    width: 30px;
    height: 30px;
  }

  .header__nav .header__hamburger {
    display: none;
  }

  .header__list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
  }

  .header__list li a {
    color: var(--Blue-950);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 1px;
  }

  .header__list li:nth-child(4) {
    width: 5px;
    height: 5px;
    background-color: var(--Blue-950);
    border-radius: 50%;
    opacity: 0.5;
  }

  .header__list li:last-child a {
    color: var(--gray-100);
  }

  .hero {
    flex-direction: row;
    margin-top: 100px;
    height: 400px;
  }

  .hero__content {
    order: 1;
  }
  .hero__image-container {
    order: 2;
  }
}

@media (min-width: 900px) {
  .hero__image {
    width: 600px;
  }

  .hero__content {
    width: 100%;
    height: 350px;
    margin-top: 20px;
  }

  .hero__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1100px) {
  .header {
    margin-top: 20px;
  }

  .header__list {
    gap: 40px;
  }

  .hero__image {
    width: 850px;
    top: 180px;
    right: -180px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__image-container {
    position: initial;
  }

  .hero__content {
    gap: 30px;
  }

  .hero__text {
    margin-bottom: 20px;
  }
}
