@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Red-400: hsl(0, 100%, 68%);
    --Blue-950: hsl(230, 29%, 20%);
    --Blue-100: hsl(207, 33%, 95%);
    --gray-100: hsl(255, 3%, 77%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-size: 18px;
}

body{
    font-family: "Barlow", sans-serif;
    background-color: var(--White);
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;
}

.header{
    width: 100%;
    height: 20%;
    padding: 30px 20px;
}

.header__nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav .header__logo{
    width: 20px;
    height: 20px;
}

.header__nav .header__hamburger{
    width: 20px;
    height: 15px;
}

.hero{
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    overflow: hidden;
}

.hero__image-container{
    position: relative;
    width: 100%;
    height: 40%;
}

.hero__image{
    width: 420px;
    position: absolute;
    right: -100px;
}

.decorative{
    width: 50%;
    height: 330px;
    background-color: var(--Blue-100);
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    border-radius: 0px 0px 0px 50px;
}

.hero__content{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 20px;
}

.hero__dashboard{
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--gray-100);
    letter-spacing: 3px;
}

.hero__dashboard span{
    display: inline-block;
    background-color: var(--Blue-950);
    color: var(--White);
    width: 50px;
    height: 20px;
    border-radius: 10px ;
    text-align: center;
}

.hero__title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--Blue-950);
    font-family: "Barlow Condensed", sans-serif;
}

.hero__text{
    color: var(--Blue-950);
    font-weight: 300;
    font-size: 0.9rem
}

.hero__button-container{
    display: flex;
    gap: 20px;
}

.hero__button{
    background-color: var(--Red-400);
    color: var(--White);
    border: none;
    cursor: pointer;
    text-align: center;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
}

.hero__button-text{
    width: 140px;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--gray-100);
    letter-spacing: 3px;
    line-height: 45px;
}

.hide{
      display: none;
    }
